{% extends 'pmapp/base.html' %}

{% block content %}
<div class="jumbotron-fluid mb-4">
    <div class="container pt-5">
        <p class="lead">{{ object.name_en }}</p>
        <h2 class="display-4">{{ object.name }}</h2>
    </div>
</div>

<div class="row container mb-5">
    <div class="card-deck">
        {% for item in category_posts %}
        <div class="col-md-12">
            <!-- Card -->
            <div class="card mb-4">
                <!-- Card image -->
                <div class="view overlay zoom ripple">
                    {% if item.thumbnail %}
                    <img class="card-img-top" height="280" src="{{ item.thumbnail.url }}" alt="{{ item.title }}">
                    {% else %}
                    <img class="card-img-top" height="180" src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp"
                        alt="{{ item.title }}" />
                    {% endif %}
                    <a href="{% url 'pmapp:post_detail' item.id %}">
                        <div class="mask flex-center d-flex align-items-end mb-5 rgba-white-light">
                        </div>
                    </a>
                </div>

                <!-- Card content -->
                <div class="card-body">
                    <!-- Title -->
                    <h2>{{ item.title }}</h2>
                    <div class="card-text d-flex flex-row">
                        <h2 class="badge rounded-pill bg-success ml-3 mt-1 mb-2 display-3"
                            style="--mdb-text-opacity: .7;">{{ item.author }}</h2>
                        <span class=" badge rounded-pill bg-info ml-3 mt-1 mb-2" style="--mdb-text-opacity: .7;">
                            {{ item.category }}
                        </span>
                        <span class=" badge rounded-pill bg-danger ml-3 mt-1 mb-2" style="--mdb-text-opacity: .7;">
                            {{ item.tag }}
                        </span>
                        <i class="fas fa-heart ml-4" style="color:pink;"></i>&nbsp{{ item.like_count }}
                    </div>
                    <a href="{% url 'pmapp:post_detail' item.id %}" type="button"
                        class="btn btn-light-blue btn-md">もっと読む</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<a href="{% url 'pmapp:category_list' %}" class="btn btn-outline-dark mb-5">戻る</a>
{% endblock %}