{% extends 'pmapp/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<!-- このページの描画がおかしい -->
<!-- 全部消してh1タグでaaaaとすると描画される -->

<!-- 詳細ページ -->
<div class="row mt-5">
    <div class="col-md-9">
        <br>
        <br>
        <div class="card">
            {% if object.thumbnail %}

            <img src="{{ object.thumbnail.url }}" class="card-img-top" alt="{{ object.title }}" />
            {% else %}
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top"
                alt="{{ object.title }}" />
            {% endif %}
            <!-- ここのobject.idの値がitem.idになっていたため、
            NoReverseMatch at /post_detail/14
            Reverse for 'post_detail' with arguments '('',)' not found.
            1 pattern(s) tried: ['post_detail/(?P<pk>[0-9]+)\\Z']
            エラーになってしまっていた。-->
            <a href="{% url 'pmapp:post_detail' object.id %}">
                <div class="mask rgba-whileslight"></div>
            </a>
            <div class="card-body">
                <!-- Title -->
                <!-- HTML内でデータベースからの値を表示する -->
                <!-- DetailViewの場合は、個別の値はobjectという変数に入ってHTMLに渡される -->
                <h2 class="card-title">{{ object.title }}</h2>
                <div class="d-flex flex-row">
                    <h5><span class="badge badge-info pt-2 mr-2">{{ object.category }}</span></h5>
                    <h5><span class="badge badge-success pt-2">{{ object.author }}</span></h5>
                    <h5><i class="fas fa-heart ml-4" style="color:pink;"></i>&nbsp{{ object.like_count }}</h5>
                </div>
                <!-- 組み込みタグ　　linebraksbr: 改行を反映させる -->
                <!-- 組み込みタグ　　urlize: テキスト内のURLとEmailアドレスをクリック可能なURLに変換する。 -->
                <h2 class="card-text border-bottom mb-5 mt-4">
                    {{ object.content | safe | linebreaksbr | urlize }}</h2>
                {% with object.youtube_url|slice:"-11:" as YOUTUBE1 %}
                <!-- <p>{{ YOUTUBE1 }}</p>  test-->
                {% with "https://www.youtube.com/embed/"|add:YOUTUBE1 as YOUTUBE2 %}
                <!-- <p>{{ YOUTUBE2 }}</p> -->

                <!-- youtube_urlがデータベースに保存されていたら表示する -->
                {% if object.youtube_url != '1' %}
                {% if object.youtube_url %}
                <iframe width="560" height="315" src="{{ YOUTUBE2 }}" title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
                {% endif %}
                {% endif %}
                <!--1つめの変数YOUYUBE1の終わりタグ-->
                {% endwith %}
                <!--2つめの変数YOUYUBE2の終わりタグ-->
                {% endwith %}

                {% if object.music_title != 'music_title' %}
                <div class="d-flex flex-row mt-3">
                    <h3 class="card-title"><a><i class="fas fa-compact-disc mr-1"></i>『{{ object.music_title }}』</a>
                    </h3>
                    <h4><i class="fas fa-user mr-3"></i>{{ object.artist }}</h4>
                </div>
                {% endif %}
                <h5><span class="badge badge-danger">{{ object.genre }}</span></h5>

                {% if object.music %}
                <!--新規投稿する際に音楽ファイルをアップロードしていれば再生コントローラー表示-->
                <audio id=" media" src="{{ object.music.url }}" controls>
                </audio>
                {% endif %}
                <br>
                <div class="comment">
                    <h4><i class="far fa-comment mr-2"></i>コメント</h4>
                    <!-- クラス名_set.all コメント全て取得 -->
                    {% for comment in post.comment_set.all %}
                    <div class="comment-text">
                        <p class="border-bottom">{{ comment.text }}</p>
                    </div>
                    {% endfor %}
                </div>
                <div class="comment-form mb-3">
                    <h4 class="border">コメント投稿</h4>
                    <!-- コメント作成用のURLを渡す -->
                    <form action="{% url 'pmapp:comment_create' post.pk %}" method="post">
                        {% csrf_token %}
                        {{ comment_form }}
                        <div class="mt-3">
                            <button class="btn btn-warning text-dark" type="submit"><i
                                    class="fas fa-paper-plane mr-2 text-white"></i>送信</button>
                        </div>
                    </form>
                </div>

                <!-- お気に入り追加ボタン post.pkは、postのidを示す -->
                <a class="btn" href="{% url 'pmapp:like_add' object.pk %}"
                    style="background-color: #ff6699; color: white;">お気に入り</a>
                <hr>
                <!-- 戻るボタン 履歴を参照して一個前に戻ることができる　-->
                <a href="{% url 'pmapp:index' %}" class="btn btn-outline-dark mt-2">戻る</a>
                {% if object.author == request.user %}
                <!-- 更新ボタン -->
                <a href="{% url 'pmapp:post_update' object.pk %}" class="btn btn-primary">更新</a>
                <!-- 削除ボタン -->
                <a href="{% url 'pmapp:post_delete' object.pk %}" class="btn btn-danger">削除</a>
                {% endif %}
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ object.category }}</h5>
                <p>このカテゴリの他の記事</p>
            </div>
            <ul class="list-group">
                {% for item in category_post %}
                <li class="list-group-item"><a href="{% url 'pmapp:post_detail' item.id %}">
                        {{ item.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

</div>
{% endblock %}