{% extends 'pmapp/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-9">
        <br>
        <h2>Post登録・更新</h2>
        <br>

        <!-- formのcssを適用させたい場合はform.pyで設定する必要がある。 -->
        <!-- enctype="multipart/form-data"　画像追加時に必ず必要になる -->
        <form action="" method="post" enctype="multipart/form-data">
            <!-- これがないとDjangoではエラー -->
            <!-- セキュリティ上の安全を確保するために必要 -->
            {% csrf_token %}
            <div class="form-group">
                <label>タイトル</label>
                {{ form.title }}
            </div>
            <div class="form-group">
                <label>カテゴリー</label>
                <!-- 自動的にプルダウンでのセレクトボックスになる。 -->
                {{ form.category }}
            </div>
            <div class="form-group">
                <label>サムネイル画像</label>
                <!-- 自動的にプルダウンでのセレクトボックスになる。 -->
                {{ form.thumbnail }}
            </div>
            <br>
            <div class="form-group">
                <label>内容</label>
                {{ form.content }}
            </div>
            <br>
            <h2>YouTubeの共有→埋め込み→埋め込みコード取得</h2>
            <button onclick="location.href='https://www.youtube.com/' ">YouTubeからMVを探す</button><br>
            <br>
            <button type="submit" class="btn btn-primary">保存</button>
        </form>
    </div>
</div>

{% endblock %}